.col-sm-6 h2 {
    color: #03989e;
    text-transform: uppercase;
}

.col-sm-6 p {
    text-transform: uppercase;
    font-size: 18px ;
    font-weight: bold;
}
.text-footer {
    background-color: #03989e;
    text-align: center;
}
.text-footer p {
    color: white;
    padding: 0.1px;
}


