  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>KOT Team</h3>
              <p>
                Số 254 Nguyễn Văn Linh, Thạc Gián<br>
                Thanh Khê, Đà Nẵng, Việt Nam <br><br>
                <strong>Phone:</strong> +84 903 127 637<br>
                <strong>Email:</strong> c1se22team@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Liên kết nhanh</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Trang chủ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/tintuc">Tin tức</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/dieucanbiet">Điều cần biết</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="hotro">Hỗ trợ người dân</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/vechungtoi">Về chúng tôi</a></li>
            </ul>
          </div>

          <div class="col-lg-7 col-md-6 footer-newsletter">
            <h4>Nhận thông báo qua Email</h4>
            <p>Tin tức cập nhật sẽ được gửi đến Email của bạn.</p>
            {{!-- {{msg}} --}}
            <form action="/email" method="POST">
              <input type="email" name="email">
              <input type="submit" placeholder="Điền email ở đây" value="Nhận thông báo">
            </form>
            <br>
            <div class="fb-page" data-href="https://www.facebook.com/Prevention-of-COVID-19-Community-103042364869283/"
              data-tabs="timeline" data-width="500" data-height="70" data-small-header="false"
              data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
              <blockquote cite="https://www.facebook.com/Prevention-of-COVID-19-Community-103042364869283/"
                class="fb-xfbml-parse-ignore"><a
                  href="https://www.facebook.com/Prevention-of-COVID-19-Community-103042364869283/">Prevention of COVID
                  19 Community</a></blockquote>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>BootstrapMade</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        Editor by KOT Team</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->