{{!-- <div class="footer mb-0">
    <div class="text-footer">
        <p style="font-weight: bold; font-size: 18px;">TRANG TIN VỀ DỊCH BỆNH VIÊM ĐƯỜNG HÔ HẤP CẤP COVID-19</p>
        <p style="font-size: 15px;">KOT TEAM - DUY TAN INTERNATIONAL SCHOOL</p>
        <p style="font-size: 12px;">Số 254 Nguyễn Văn Linh, Thạc Gián, Thanh Khê, Đà Nẵng, Việt Nam</p>
        <p style="font-size: 12px;">ĐT: 0903.127.637 | Email: c1se22team@gmail.com</p>
        <p style="font-size: 10px;">Copyright © 2020 all rights reserved</p>
    </div>
</div> --}}
    

