{{!-- <!--Banner-->

<div class="row">
  <div class="col-sm-3" style="text-align: center;" >
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/zh5njtq/logo.png" alt="logo" border="0" style="max-width: 60%;
  height: auto; margin-top: 10px;"></a>
  </div>
  <div class="col-sm-6" style="text-align: center;">
    <h2>Prevent COVID-19 Website</h2>
    <p>Trang thông tin về dịch bệnh viêm đường hô hấp COVID-19</p>
  </div>
  <div class="col-sm-3" style="text-align: center;">
    <h3>Hotline</h3>
    <a href="#" class="btn btn-danger" role="button">19001095</a>
  </div>
</div>


<!--Navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active mr-lg-4 ml-lg-4" href="#">TRANG CHỦ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active mr-lg-4 ml-lg-4" href="#">TIN TỨC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active mr-lg-4 ml-lg-4" href="#">TRA CỨU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active mr-lg-4 ml-lg-4" href="#">ĐIỀU CẦN BIẾT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active mr-lg-4 ml-lg-4" href="#">CỘNG ĐỒNG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active mr-lg-4 ml-lg-4" href="/Citizensupport">HỖ TRỢ NGƯỜI DÂN</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                TÀI KHOẢN
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/profile">Trang cá nhân</a>
                                <a class="dropdown-item" href="#">Đăng nhập</a>
                                <a class="dropdown-item" href="#">Đăng xuất</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

 --}}
