  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="/" class="logo mr-auto"><img src="/assets/img/logo.png" alt=""></a>

      <!-- ======= Nav-menu ======= -->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Trang chủ</a></li>
          <li><a href="/tintuc">Tin tức</a></li>
          <li><a href="/dieucanbiet">Điều cần biết</a></li>
          <li><a href="/hotro">Hỗ trợ người dân</a></li>
          <li><a href="/congdong">Cộng đồng</a></li>
          <li><a href="/vechungtoi">Về chúng tôi</a></li>
        </ul>
      </nav>
      <!-- .nav-menu -->

      <a href="tel:19009095" class="hotline-btn scrollto"><span class="d-none d-md-inline">Đường dây nóng:
        </span>19009095</a>

    </div>
  </header>
  <!-- End Header -->
