

<div class="container" style="margin-top: 100px;">
    <div class="aboutus">
        <div class="section-title">
            <h2>Về chúng tôi</h2>
        </div>
        <p>Website này là sự tâm huyết của nhóm 5 thành viên khóa 23 chuyên nghành Công nghệ phần mềm tại Đại học Duy
            Tân thực hiện nhằm mục đích cung cấp các thông tin và kiến thức bổ ích về đại dịch COVID-19 giúp người dùng
            bảo vệ bản thân và cộng đồng.
        </p>
        <!--Thanh vien-->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="assets/img/m1.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">Diễm Uyên</h5>
                        <p class="card-text">Trưởng nhóm</p>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="assets/img/m2.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">Ngọc Mỹ</h5>
                        <p class="card-text">Lập trình viên</p>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="assets/img/m4.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">Minh Hoàng</h5>
                        <p class="card-text">Lập trình viên</p>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="assets/img/m5.png" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Trường Hân</h5>
                        <p class="card-text">Lập trình viên</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="assets/img/m3.png" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Xuân Phong</h5>
                        <p class="card-text">Lập trình viên</p>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>

        </div>