<main id="main">
  <div class="container" style="margin-top: 100px;">
    <div class="section-title">
        <h2>Cộng đồng chia sẻ</h2>
      </div>
    <div class="news-support"> 
      <div class="row">
        <div class="col-lg-6">
          <div class="fb-post" data-href="https://www.facebook.com/huuquy.nguyen/posts/4075953322416274"
            data-show-text="true" data-width="">
            <blockquote cite="https://www.facebook.com/huuquy.nguyen/posts/4075953322416274"
              class="fb-xfbml-parse-ignore">
              <p>“ Happiness is sharing “ part 3
                Chuyến đi số 3

                Cảm ơn các anh em trong nhóm Cựu Du Học Sinh Đông Du Nhật Bản đã chung...</p>Người đăng: <a
                href="https://www.facebook.com/huuquy.nguyen">Huu Quy Nguyen</a> vào&nbsp;<a
                href="https://www.facebook.com/huuquy.nguyen/posts/4075953322416274">Thứ Bảy, 8 tháng 8, 2020</a>
            </blockquote>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="fb-post" data-href="https://www.facebook.com/LinhPD2/posts/1222346494778095" data-show-text="true"
            data-width="">
            <blockquote cite="https://www.facebook.com/LinhPD2/posts/1222346494778095" class="fb-xfbml-parse-ignore">
              <p>👉 DISMECOVID.COM
                🔴chúng tôi tiếp tục hỗ trợ Vật tư y tế về 3 chốt điểm tại Quảng Nam:
                ✅ 1. Bênh viện đa khoa Quế...</p>Người đăng: <a href="#" role="button">Phạm Đức Linh</a>
              vào&nbsp;<a href="https://www.facebook.com/LinhPD2/posts/1222346494778095">Thứ Bảy, 8 tháng 8, 2020</a>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <div class="news-support">
      <div class="row">
        <div class="col-lg-6">
          <div class="fb-post" data-href="https://www.facebook.com/binhbong9999/posts/1657723274392418"
            data-show-text="true" data-width="">
            <blockquote cite="https://www.facebook.com/binhbong9999/posts/1657723274392418"
              class="fb-xfbml-parse-ignore">
              <p>Chuyến thứ 4 trong ngày cùng các anh em trong nhóm Andy Le ,Phong Nguyen ,Trang Pham , Bình An ,
                Trương Duy : 1500kg Gạo...</p>Người đăng: <a href="https://www.facebook.com/binhbong9999">Lê Thanh
                Bình</a> vào&nbsp;<a href="https://www.facebook.com/binhbong9999/posts/1657723274392418">Thứ Sáu, 7
                tháng 8, 2020</a>
            </blockquote>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="fb-post" data-href="https://www.facebook.com/phanthe.hoang/posts/3373718345982107"
            data-show-text="true" data-width="">
            <blockquote cite="https://www.facebook.com/phanthe.hoang/posts/3373718345982107"
              class="fb-xfbml-parse-ignore">
              <p>Kính thưa 42 Mạnh Thường Quân. Tổng số tiền huy động được sau 2 ngày phát động là 40,900,000 VNĐ
                (Danh sách và tổng kết...</p>Người đăng: <a href="https://www.facebook.com/phanthe.hoang">Phan Thế
                Hoàng</a> vào&nbsp;<a href="https://www.facebook.com/phanthe.hoang/posts/3373718345982107">Thứ Sáu, 7
                tháng 8, 2020</a>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="group-support">
    <div class="section-title">
      <h2>Nhóm hỗ trợ cộng đồng</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 support">
        <div class="fb-group" data-href="https://www.facebook.com/groups/210926883668278" data-width="280"
          data-show-social-context="true" data-show-metadata="false">
          <blockquote cite="https://www.facebook.com/groups/210926883668278" class="fb-xfbml-parse-ignore">Together We
            Share - Đà Nẵng</blockquote>
        </div>
        <br>
        <div class="fb-group" data-href="https://www.facebook.com/groups/693257351466180/" data-width="280"
          data-show-social-context="true" data-show-metadata="false">
          <blockquote cite="https://www.facebook.com/groups/693257351466180/" class="fb-xfbml-parse-ignore">Long COVID
            Support Group</blockquote>
        </div>
      </div>

      <div class="col-lg-3 support">

        <div class="fb-group" data-href="https://www.facebook.com/groups/1024037004635272/" data-width="280"
          data-show-social-context="true" data-show-metadata="false">
          <blockquote cite="https://www.facebook.com/groups/1024037004635272/" class="fb-xfbml-parse-ignore">
            Coronavirus COVID-19 Hanoi/HCMC and all Vietnam SARS-CoV-2</blockquote>
        </div>
        <br>
        <div class="fb-group" data-href="https://www.facebook.com/groups/2734927199889067/" data-width="280"
          data-show-social-context="true" data-show-metadata="false">
          <blockquote cite="https://www.facebook.com/groups/2734927199889067/" class="fb-xfbml-parse-ignore">COVID-19
            Coronavirus Survival Stories-USA</blockquote>
        </div>
      </div>

      <div class="col-lg-3 support">
        <div class="fb-group" data-href="https://www.facebook.com/groups/welfaretaskforcemsia/" data-width="280"
          data-show-social-context="true" data-show-metadata="false">
          <blockquote cite="https://www.facebook.com/groups/welfaretaskforcemsia/" class="fb-xfbml-parse-ignore">
            Covid-19 Support Group for Malaysian Students Abroad</blockquote>
        </div>
        <br>
        <div class="fb-group" data-href="https://www.facebook.com/groups/505408746806858/" data-width="280"
          data-show-social-context="true" data-show-metadata="false">
          <blockquote cite="https://www.facebook.com/groups/505408746806858/" class="fb-xfbml-parse-ignore">COVID-19
            LIVE UPDATE AND HELP DESK</blockquote>
        </div>
      </div>

      <div class="col-lg-3 support">
        <div class="fb-group" data-href="https://www.facebook.com/groups/166149707840592/" data-width="280"
          data-show-social-context="true" data-show-metadata="false">
          <blockquote cite="https://www.facebook.com/groups/166149707840592/" class="fb-xfbml-parse-ignore">Covid-19
            Coronavirus Mental Health, Anxiety and Support Group</blockquote>
        </div>
        <br>
        <div class="fb-group" data-href="https://www.facebook.com/groups/166149707840592/" data-width="280"
          data-show-social-context="true" data-show-metadata="false">
          <blockquote cite="https://www.facebook.com/groups/166149707840592/" class="fb-xfbml-parse-ignore">Covid-19
            Coronavirus Mental Health, Anxiety and Support Group</blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="page-support">
    <div class="section-title">
      <h2>Trang tin tức cộng đồng</h2>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="support-page1">
          <div class="fb-page" data-href="https://www.facebook.com/Prevention-of-COVID-19-Community-103042364869283/"
            data-tabs="timeline" data-width="500" data-height="300" data-small-header="true"
            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/Prevention-of-COVID-19-Community-103042364869283/"
              class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/Prevention-of-COVID-19-Community-103042364869283/">Prevention of COVID
                19
                Community</a></blockquote>
          </div>
          <br>
          <br>
          <div class="fb-page" data-href="https://www.facebook.com/thongtinchinhphu" data-tabs="timeline"
            data-width="500" data-height="300" data-small-header="true" data-adapt-container-width="true"
            data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/thongtinchinhphu" class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/thongtinchinhphu">Thông tin Chính phủ</a></blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <div class="support-page2">
          <div class="fb-page" data-href="https://www.facebook.com/ksbthcm/" data-tabs="timeline" data-width="500"
            data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
            data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/ksbthcm/" class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/ksbthcm/">Trung tâm Kiểm soát Bệnh tật Thành phố Hồ Chí Minh</a>
            </blockquote>
          </div>
          <br>
          <br>
          <div class="fb-page" data-href="https://www.facebook.com/CungChongCovid19.YAN/" data-tabs="timeline"
            data-width="500" data-height="300" data-small-header="true" data-adapt-container-width="true"
            data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/CungChongCovid19.YAN/" class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/CungChongCovid19.YAN/">Cùng chống Covid-19</a></blockquote>
          </div>
        </div>

      </div>


    </div>
  </div>


  </div>
</main>