  <main id="main">
    <div class="container" style="margin-top: 100px;">
      <span class="badge badge-pill badge-info" style="font-size: 14px;">NHÓM HỖ TRỢ CỘNG ĐỒNG VỀ COVID-19</span>
      <br>
      <br>
      <div class="row">
        <div class="col-lg-3 support">
          <div class="fb-group" data-href="https://www.facebook.com/groups/210926883668278" data-width="280"
            data-show-social-context="true" data-show-metadata="true">
            <blockquote cite="https://www.facebook.com/groups/210926883668278" class="fb-xfbml-parse-ignore">Together We
              Share - Đà Nẵng</blockquote>
          </div>
          <br>
          <div class="fb-group" data-href="https://www.facebook.com/groups/693257351466180/" data-width="280" data-show-social-context="true" data-show-metadata="true"><blockquote cite="https://www.facebook.com/groups/693257351466180/" class="fb-xfbml-parse-ignore">Long COVID Support Group</blockquote></div>
        </div>

        <div class="col-lg-3 support">

          <div class="fb-group" data-href="https://www.facebook.com/groups/1024037004635272/" data-width="280"
            data-show-social-context="true" data-show-metadata="true">
            <blockquote cite="https://www.facebook.com/groups/1024037004635272/" class="fb-xfbml-parse-ignore">
              Coronavirus COVID-19 Hanoi/HCMC and all Vietnam SARS-CoV-2</blockquote>
          </div>
          <br>
          <div class="fb-group" data-href="https://www.facebook.com/groups/2734927199889067/" data-width="280" data-show-social-context="true" data-show-metadata="true"><blockquote cite="https://www.facebook.com/groups/2734927199889067/" class="fb-xfbml-parse-ignore">COVID-19 Coronavirus Survival Stories-USA</blockquote></div>
        </div>

        <div class="col-lg-3 support">
          <div class="fb-group" data-href="https://www.facebook.com/groups/welfaretaskforcemsia/" data-width="280" data-show-social-context="true" data-show-metadata="true"><blockquote cite="https://www.facebook.com/groups/welfaretaskforcemsia/" class="fb-xfbml-parse-ignore">Covid-19 Support Group for Malaysian Students Abroad</blockquote></div>
          <br>
          <div class="fb-group" data-href="https://www.facebook.com/groups/505408746806858/" data-width="280" data-show-social-context="true" data-show-metadata="true"><blockquote cite="https://www.facebook.com/groups/505408746806858/" class="fb-xfbml-parse-ignore">COVID-19 LIVE UPDATE AND HELP DESK</blockquote></div>
        </div>

        <div class="col-lg-3 support">
          <div class="fb-group" data-href="https://www.facebook.com/groups/166149707840592/" data-width="280" data-show-social-context="true" data-show-metadata="true"><blockquote cite="https://www.facebook.com/groups/166149707840592/" class="fb-xfbml-parse-ignore">Covid-19 Coronavirus Mental Health, Anxiety and Support Group</blockquote></div>
          <br>
          <div class="fb-group" data-href="https://www.facebook.com/groups/166149707840592/" data-width="280" data-show-social-context="true" data-show-metadata="true"><blockquote cite="https://www.facebook.com/groups/166149707840592/" class="fb-xfbml-parse-ignore">Covid-19 Coronavirus Mental Health, Anxiety and Support Group</blockquote></div>
        </div>
      </div>
    </div>
  </main>