<link rel="stylesheet" href="/assets/css/detail.css">

<div class="container" style="margin-top: 100px;">
        {{{ html}}}
<div class="link-post">
        <p style="font-size: 20px; color: ;text-align: right;"><strong>Nguồn: </strong><a href="https://suckhoedoisong.vn">https://suckhoedoisong.vn</a></p>
</div>
</div>