<main id="main">
  <!--  Evolution with Filter Travel Schedule -->
  <div class="container" style="margin-top: 100px;">
    <input class="form-control" type="text" placeholder="Nhập nơi cần tìm để lọc lịch trình di chuyển" 
      aria-label="Search" style="width: 50%; display: inline-block; border-radius: 5px;">

    <div class="evolution">
      <div class="row">
        <div class="col-lg-9">
          <div class="widget no-padding blank">
            <div class="evolution-section">
              <ul>
                <li>
                  <div class="timeline-line">
                    <div class="timeline-section">
                      <div class="timeline-head">
                        <h5>17:55 09/11/2020</h5>
                      </div>

                      <div class="timeline-content">
                        <p><strong>THÔNG BÁO VỀ 2 CA MẮC MỚI (BN1214-1215): Là các ca nhập cảnh, được cách ly ngay tại
                            Cần Thơ.</strong>

                        </p>
                        <p>
                          - CA BỆNH 1214 (BN1214) tại Cần Thơ: nam, 32 tuổi, quốc tịch Việt Nam, có địa
                          chỉ tại phường Tân Thịnh, TP. Hòa Bình, tỉnh Hoà Bình.
                        </p>
                        <p>
                          - CA BỆNH 1215 (BN1215) tại Cần Thơ: nam, 31 tuổi, quốc tịch Việt Nam, có địa chỉ tại Minh
                          Khai, quận Hai Bà Trưng, Hà Nội.
                          Ngày 07/11, các bệnh nhân trên từ Hà Lan nhập cảnh Sân bay Cần Thơ trên chuyến bay VN5032,
                          được cách ly tập trung ngay tại khu cách ly tập trung của TP. Cần Thơ. Ngày 08/11, các bệnh
                          nhân trên được lấy mẫu xét nghiệm. Kết quả xét nghiệm ngày 08/11, cả 2 bệnh nhân dương tính
                          với vi rút SARS-CoV-2. Hiện 2 bệnh nhân được cách ly, điều trị tại Bệnh viện Lao và Bệnh
                          phổi Thành phố Cần Thơ.
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="alert alert-danger">
            <strong>Khai báo y tế</strong> Hướng camera của điện thoại về đoạn mã QR !!
          </div>
          <img src="assets/img/QRcode.png" alt="qr" style="max-width: 99%;">
        </div>
      </div>
    </div>
  </div>

  <!--  END Evolution with Filter Travel Schedule  -->

</main>
