
  <main id="main">
    <!--  Evolution with Filter Travel Schedule -->
    <div class="container" style="margin-top: 100px; text-align: center;">
        <input class="form-control" type="text" placeholder="Nhập nơi cần tìm để lọc lịch trình di chuyển" aria-label="Search" style="width: 50%; display: inline-block; border-radius: 5px;">
        <br>
        <br>

        <h2>DIỄN BIẾN DỊCH BỆNH</h2>
        <div class="section" style="background-color: lightgray;">
          <br>
          <p>Phần này hiển thị lịch trình chi tiết di chuyển bệnh nhân</p>

          <p>Phần này hiển thị lịch trình chi tiết di chuyển bệnh nhân</p>

          <p>Phần này hiển thị lịch trình chi tiết di chuyển bệnh nhân</p>

          <p>Phần này hiển thị lịch trình chi tiết di chuyển bệnh nhân</p>

          <p>Phần này hiển thị lịch trình chi tiết di chuyển bệnh nhân</p>

          <p>Phần này hiển thị lịch trình chi tiết di chuyển bệnh nhân</p>

          <p>Phần này hiển thị lịch trình chi tiết di chuyển bệnh nhân</p>

          <p>Phần này hiển thị lịch trình chi tiết di chuyển bệnh nhân</p>

          <p>Phần này hiển thị lịch trình chi tiết di chuyển bệnh nhân</p>

          <p>Phần này hiển thị lịch trình chi tiết di chuyển bệnh nhân</p>

          <p>Phần này hiển thị lịch trình chi tiết di chuyển bệnh nhân</p>

          <p>Phần này hiển thị lịch trình chi tiết di chuyển bệnh nhân</p>

          <p>Phần này hiển thị lịch trình chi tiết di chuyển bệnh nhân</p>
          <br>
        </div>
    </div>

    <!--  END Evolution with Filter Travel Schedule  -->

  </main>
