<main id="main">
  <!--  Evolution with Filter Travel Schedule -->
  <div class="container" style="margin-top: 100px;">
    <input class="form-control" type="text" id="filterInput" placeholder="Nhập nơi cần tìm để lọc lịch trình di chuyển" 
      aria-label="Search" style="width: 50%; display: inline-block; border-radius: 5px;">

    <div class="evolution">
      <div class="row">
        <div class="col-lg-9">
          <div class="widget no-padding blank">
            <div class="filter evolution-section">
              <ul id="name">
                {{#each filter}}
                <li class="collection-item">
                  <div class="timeline-line">
                    <div class="timeline-section">
                      <div class="timeline-head">
                        <h5>{{date}}</h5>
                      </div>

                      <div class="timeline-content">
                        <p><strong>{{title}}</strong>

                        </p>
                        <p>
                         {{content}}
                        </p>
                     
                       
                      </div>
                    </div>
                  </div>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="alert alert-danger">
            <strong>Khai báo y tế</strong> Hướng camera của điện thoại về đoạn mã QR !!
          </div>
          <img src="assets/img/QRcode.png" alt="qr" style="max-width: 99%;">
        </div>
      </div>
    </div>
  </div>
  <script>
    document.getElementById('filterInput').addEventListener('keyup', filterNames);
   

    function filterNames(){
      // Get value of input
      let filterValue = document.getElementById('filterInput').value.toUpperCase();

      // Get names ul
      let ul=document.getElementById('name');
     let li =ul.querySelectorAll('li.collection-item');
      
      // Get lis from ul
    

      // Loop through collection-item lis
      for(let i = 0;i < li.length;i++){
        let a = li[i].getElementsByClassName('timeline-content')[0];
        let b = li[i].getElementsByTagName('h5')[0];
    


   
       
        // If matched
        if(a.innerText.toUpperCase().indexOf(filterValue) > -1||b.innerText.toUpperCase().indexOf(filterValue) > -1){
          li[i].style.display = '';
          
          
        } else {
          li[i].style.display = 'none';
        }
       
      }
      }
  </script>

  <!--  END Evolution with Filter Travel Schedule  -->

</main>