  
  <div class="jumbotron text-center">
    <h1>QUẢN LÝ <strong>Prevent COVID-19 Website</strong></h1>
    <h5>Bạn phải là admin mới có thể sử dụng trang web này</h5>

    <br>
    <br>

    <a href="/sessionLogout" class="btn btn-info" role="button">Tiếp tục với vai trò Admin</a>
    <a href="#" class="btn btn-success" role="button">Truy cập trang chủ chúng tôi</a>
    {{!-- Sao lại sessionLogout khi mà đây là dẫn link vào admin --}}
  </div>

