
<div class="container" style="margin-top: 100px;">

      <div class="row">

        <div class="col-lg-8 col-md-8 col-8">
          <div class="container-md">
            <!-- ======= Frequently Asked Questioins Section ======= -->
            <section id="faq" class="faq section-bg">
              <div class="container" data-aos="fade-up">

                 {{#if dieucanbiet}}
                  {{#each dieucanbiet}}
                <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">
                 
                  <li>
                    <a data-toggle="collapse" class="dcb-title" href="#faq1">{{title}}<i
                        class="icofont-simple-up"></i></a>
                    <div id="faq1" class="dcb-content collapse show" data-parent=".faq-list">
                      <p>
                       {{content}}
                      </p>
                    </div>
                  </li>
                

                </ul>
                  {{/each}}
                  {{/if}}

              </div>
            </section>
            <!-- End Frequently Asked Questioins Section -->


          </div>
        </div>

        <!--BEN PHAI-->
        <div class="col-lg-4 col-md-4 col-4">
          <div class="container-md">
            <div class="alert alert-danger">
              <strong>Khai báo y tế</strong> Hướng camera của điện thoại về đoạn mã QR !!
            </div>
            <img src="assets/img/QRcode.png" alt="qr">

          </div>
        </div>

      </div>

    </div>