<link rel="stylesheet" href="/css/login.css">

<div class="container">
    <div class="card card-container">
        <h3>Đăng nhập</h3>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" id="login" <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Địa chỉ Email" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu" required>
            <br>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Đăng nhập</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->

<script>
    window.addEventListener("DOMContentLoaded", () => {
        var firebaseConfig = {
            apiKey: "AIzaSyDnVnFbA4U03jm8e-s-S_XxgV_fUfE9uhM",
            authDomain: "preventcovid19-fb9a0.firebaseapp.com",
            databaseURL: "https://preventcovid19-fb9a0.firebaseio.com",
            projectId: "preventcovid19-fb9a0",
            storageBucket: "preventcovid19-fb9a0.appspot.com",
            messagingSenderId: "821703464030",
            appId: "1:821703464030:web:e904f0c2450d39fe3810cf",
            measurementId: "G-YJR7SL8YDT"
        };

        firebase.initializeApp(firebaseConfig);

        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);


        const login = document.getElementById('login');
        login.addEventListener("submit", (event) => {
            event.preventDefault();
            const login = event.target.inputEmail.value;
            const password = event.target.inputPassword.value;

            firebase
                .auth()
                .signInWithEmailAndPassword(login, password)
                .then(({ user }) => {
                    return user.getIdToken().then((idToken) => {
                        return fetch("/sessionLogin", {
                            method: "POST",
                            headers: {
                                Accept: "application/json",
                                "Content-Type": "application/json",
                                "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                            },
                            body: JSON.stringify({ idToken }),
                        });
                    });
                })
                .then(() => {
                    return firebase.auth().signOut();
                })
                .then(() => {
                    window.location.assign("/admin");
                });
            return false;
        });
    });
</script>