
<link rel="stylesheet" href="/assets/css/news.css">

<!-- Main -->
<main id="main">
    <!-- News  -->
    <div class="container" style="margin-top: 100px;">
        <div class="row">        
            <div class="container-md">

                <!--Left Section-->
                <div class="col-lg-9 col-md-9 col-9">
                    <div class="container-md">
                        <div class="news-right">

                            <a><img class="news-img" src="https://i.ibb.co/12Z1wtY/tintuc.jpg" alt="tintuc"
                                    border="0"></a>
                            <div class="news-title" style="font-size: 1.5rem;">
                                <a href="#">Thủ tướng ra công điện tiếp tục phòng,
                                    chống dịch bệnh COVID-19</a>
                                <br>
                            </div>
                            <strong class="text-muted" style="font-size: 12px;">Saturday, 03/10/2020, 16:56</strong>
                            <br>
                            <div class="caption" style="font-size: 13px;">
                                Số của văn bản là số thứ tự đăng ký văn bản tại văn thư của cơ quan, tổ chức. Số của văn
                                bản được ghi bằng chữ số Ả-rập, bắt đầu từ số 01 vào ngày đầu năm và kết thúc vào ngày
                                31 tháng 12 hàng năm. Số của văn bản là số thứ tự đăng ký văn bản tại văn thư của cơ
                                quan,
                                tổ chức. Số của văn
                                bản được ghi bằng chữ số Ả-rập, bắt đầu từ số 01 vào ngày đầu năm và kết thúc vào ngày
                                31 tháng 12 hàng năm.
                            </div>

                            <br>
                            <div class="row mb-1">
                                <!--Hien thi hinh anh-->
                                <div class="col-sm-6">
                                    <a><img class="news-img" src="https://i.ibb.co/12Z1wtY/tintuc.jpg" alt="tintuc"
                                            border="0"></a>
                                </div>
                                <!--Hien thi thong tin-->
                                <div class="col-sm-6">
                                    <div class="news-title" style="font-size: 0.9rem;">
                                        <a href="#">Thủ tướng ra công điện tiếp tục phòng,
                                            chống dịch bệnh COVID-19</a>
                                        <br>
                                        <strong class="text-muted" style="font-size: 10px;">Saturday, 03/10/2020,
                                            16:56</strong> </div>
                                    <div class="caption">
                                        Số của văn bản là số thứ tự đăng ký văn bản tại văn thư của cơ quan, tổ chức. Số
                                        của văn
                                        bản được ghi bằng chữ số Ả-rập, bắt đầu từ số 01 vào ngày đầu năm và kết thúc
                                        vào ngày
                                        31 tháng 12 hàng năm. Số của văn bản là số thứ tự đăng ký văn bản tại văn thư
                                        của cơ quan,
                                        tổ chức. Số của văn
                                        bản được ghi bằng chữ số Ả-rập, bắt đầu từ số 01 vào ngày đầu năm và kết thúc
                                        vào ngày
                                        31 tháng 12 hàng năm.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="news-right">
                            <div class="row mb-1">
                                <!--Hien thi hinh anh-->
                                <div class="col-sm-6">
                                    <a><img class="news-img" src="https://i.ibb.co/12Z1wtY/tintuc.jpg" alt="tintuc"
                                            border="0"></a>
                                </div>
                                <!--Hien thi thong tin-->
                                <div class="col-sm-6">
                                    <div class="news-title" style="font-size: 0.9rem;">
                                        <a href="#">Thủ tướng ra công điện tiếp tục phòng,
                                            chống dịch bệnh COVID-19</a>
                                        <br>
                                        <strong class="text-muted" style="font-size: 10px;">Saturday, 03/10/2020,
                                            16:56</strong>
                                    </div>
                                    <div class="caption">
                                        Số của văn bản là số thứ tự đăng ký văn bản tại văn thư của cơ quan, tổ chức. Số
                                        của văn
                                        bản được ghi bằng chữ số Ả-rập, bắt đầu từ số 01 vào ngày đầu năm và kết thúc
                                        vào ngày
                                        31 tháng 12 hàng năm. Số của văn bản là số thứ tự đăng ký văn bản tại văn thư
                                        của cơ quan,
                                        tổ chức. Số của văn
                                        bản được ghi bằng chữ số Ả-rập, bắt đầu từ số 01 vào ngày đầu năm và kết thúc
                                        vào ngày
                                        31 tháng 12 hàng năm.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="news-right">
                            <div class="row mb-1">
                                <!--Hien thi hinh anh-->
                                <div class="col-sm-6">
                                    <a><img class="news-img" src="https://i.ibb.co/12Z1wtY/tintuc.jpg" alt="tintuc"
                                            border="0"></a>
                                </div>
                                <!--Hien thi thong tin-->
                                <div class="col-sm-6">
                                    <div class="news-title" style="font-size: 0.9rem;">
                                        <a href="#">Thủ tướng ra công điện tiếp tục phòng,
                                            chống dịch bệnh COVID-19</a>
                                        <br>
                                        <strong class="text-muted" style="font-size: 10px;">Saturday, 03/10/2020,
                                            16:56</strong> </div>
                                    <div class="caption">
                                        Số của văn bản là số thứ tự đăng ký văn bản tại văn thư của cơ quan, tổ chức. Số
                                        của văn
                                        bản được ghi bằng chữ số Ả-rập, bắt đầu từ số 01 vào ngày đầu năm và kết thúc
                                        vào ngày
                                        31 tháng 12 hàng năm. Số của văn bản là số thứ tự đăng ký văn bản tại văn thư
                                        của cơ quan,
                                        tổ chức. Số của văn
                                        bản được ghi bằng chữ số Ả-rập, bắt đầu từ số 01 vào ngày đầu năm và kết thúc
                                        vào ngày
                                        31 tháng 12 hàng năm.
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!--End #Left Section-->

                <!--Right Section-->
                <div class="col-lg-3">

                </div>
                <!--End #Right Section-->
            </div>

        </div>

        <!--Pagination-->
        <div class="container">
            <div class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </div>
        </div>
        <!--End #Pagination-->
    </div>
    <!--End #News-->
</main>
<!-- End #main -->