
<link rel="stylesheet" href="/assets/css/news.css">

<!-- Main -->
<main id="main">
    <!-- News  -->
    <div class="container" style="margin-top: 100px;">
          <div class="row">  
                   
              
                  <!--Left Section-->
                   <div class="col-lg-9 col-md-9 col-9"> 
                      <div class="container-md" id="new"> 
                         
                    {{!-- {{#each datanews}}
    
                        <div class="row mb-1">
                            <!--Hien thi hinh anh-->
                            <div class="col-sm-6">
                            <a><img class="news-img" src="{{image}}" alt="tintuc"></a>
                            </div>
                            <!--Hien thi thong tin-->
                            <div class="col-sm-6">
                            <div class="news-title" style="font-size: 0.9rem;">
                                <a href="/chitietnews">{{title}}</a>
                                <br>
                                <strong class="text-muted" style="font-size: 10px;">{{date}}</strong> </div>
                            <div class="caption">
                            {{content}}
                            </div>
                            </div>
                        </div>
                 {{/each}}       --}}
                          
           
              
                  
                      
                  </div>
                  <!--End #Left Section-->
  
                  <!--Right Section-->
                  <div class="col-lg-3">
  
                  </div>
                  <!--End #Right Section-->
              </div>
  
          </div>
  
          <!--Pagination-->
          <!-- <div class="container"> -->
            <div class="content__paging">
              <div class="page">
                  <ul class="pagination justify-content-center">
                      {{!-- <li class="btn-prev btn-active fas fa-angle-left">pre</li> --}}
                       <li class="page-item btn-prev btn-active"><a class="page-link" href="#">Trước</a></li>
                      {{!-- <div class="number-page" id="number-page"> --}}
                          <!-- <li class="active">
                          <a>1</a>
                      </li>
                      <li>
                          <a>2</a>
                      </li>
                      <li>
                          <a>3</a>
                      </li> -->
                      {{!-- </div> --}}
                      <li class=" page-item btn-next "><a class="page-link" href="#">Sau</a></li>
                  </ul>
              </div>
          </div>
          <!--End #Pagination-->
      </div>
    {{!-- <script>
    document.getElementById('button1').addEventListener('click', loadNews);
  

    function loadNews(){
      var xhr = new XMLHttpRequest();
      xhr.open('GET', 'datanews', true);

      xhr.onload = function(){
        if(this.status == 200){
          var news = JSON.parse(this.responseText);
          
          var output = '';
          var i;
          for (i = 0; i <news.length-5; i++){

          output +='<div class="news-right">'+
                '<div class="row mb-1">'+
               
            '<div class="col-sm-6">'+
          '<a><img class="news-img" src="'+news[i].image+'" alt="tintuc"></a>'+
        '</div>'+
          '<div class="col-sm-6">'+
          '<div class="news-title" style="font-size: 0.9rem;">'+
            '<a href="'+news[i].Link+'">'+news[i].title+'</a>'+
            '<br>'+
            '<strong class="text-muted" style="font-size: 10px;">'+news[i].date+'</strong> </div>'+
          '<div class="caption">'+news[i].content+'</div>'+
        '</div>'+
      '</div>'+
    '</div>'
    
          }
          document.getElementById('new').innerHTML = output;
        }
      }

      xhr.send();
    }

   
  </script> --}}
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-database.js"></script>

<script>
    
 const datanews=[
  
      {
          "title" :"Bản tin dịch COVID-19 trong 24h:Thế giới vượt 50 triệu ca mắc COVID-19, Việt Nam 67 ngày không có ca mắc mới trong cộng đồng",
          "date":"Chủ nhật, 08/11/2020, 09:39",
          "content" : "Đến 9 giờ ngày 8/11, Việt Nam không ghi nhận ca mắc mới. Nước ta đã trải qua 67 ngày không có ca lây nhiễm SARS-CoV-2 trong cộng đồng; 1070 ca đã được công bố khỏi bệnh. Trong 24 giờ qua, thế giới ghi nhận thêm 485.318 ca mắc COVID-19 và 7.248 ca tử vong, đưa tổng số ca bệnh vượt ngưỡng 50 triệu, trong đó có trên 1.255.000 bệnh nhân không qua khỏi. Nước Mỹ và châu Âu chao đảo trong làn sóng dịch mới.",
          "image" :"https://media.suckhoedoisong.vn/Images/minhchau/2020/11/08/vacxinvn-1b_bowh.jpg",
          "Link" :"https://suckhoedoisong.vn/ban-tin-dich-covid-19-trong-24hthe-gioi-vuot-50-trieu-ca-mac-covid-19-viet-nam-67-ngay-khong-co-ca-mac-moi-trong-cong-dong-n182580.html"
    
        },
       {
          "title" :"Đã 24h Việt Nam không ca mắc COVID-19, nhiều nước Châu Âu ghi nhận hàng chục nghìn ca",
          "date":"Chủ nhật, 08/11/2020, 06:38",
          "content" : "Bản tin sáng ngày 8/11, của Ban Chỉ đạo Quốc gia cho biết không có ca mắc COVID-19 mới. Đến nay đã 67 ngày Việt Nam không ghi nhận ca mắc ở cộng đồng.Toàn thế giới hiện đã ghi nhận 49,8 triệu ca COVID-19. Tình hình dịch COVID-19 tại 'điểm nóng' châu Âu tiếp tục diễn biến phức tạp khi nhiều nước ghi nhận hàng chục nghìn ca mắc mới.",
          "image" :"https://media.suckhoedoisong.vn/Images/thaibinh/2020/11/08/da_5_ngay_lien_tiep_Viet_Nam_khong_ghi_nhan_ca_mac_moi_COVID.jpg",
          "Link" :" https://suckhoedoisong.vn/da-24h-viet-nam-khong-ca-mac-covid-19-nhieu-nuoc-chau-au-ghi-nhan-hang-chuc-nghin-ca--n182578.html"
    
        },
         {
          "title" :"Chiều 7/11, không ca mắc mới, Việt Nam chữa khỏi 1.070 bệnh nhân COVID-19",
          "date":"Thứ bảy, 07/11/2020, 18:31",
          "content" : "Bản tin chiều ngày 7/11, của Ban Chỉ đạo Quốc gia cho biết không có ca mắc COVID-19 mới. Đến nay đã 66 ngày Việt Nam không ghi nhận ca mắc ở cộng đồng. Việt Nam cũng đã chữa khỏi 1.070 bệnh nhân COVID-19.",
          "image" :"https://media.suckhoedoisong.vn/thumb_555x335/Images/thaibinh/2020/11/07/chieu-7-11-khong-ca-mac-moi-viet-nam-chua-khoi-1070-benh-nhan-covid-191604746756.jpeg",
          "Link" :" https://suckhoedoisong.vn/chieu-7-11-khong-ca-mac-moi-viet-nam-chua-khoi-1070-benh-nhan-covid-19-n182573.html"
    
        },
         {
          "title" :"Bản tin dịch COVID-19 trong 24h qua: 2 đơn vị của Việt Nam dự kiến cuối năm 2020 sẽ thử nghiệm vòng 1 vắc xin COVID-19 trên người",
          "date":"Thứ bảy, 07/11/2020, 09:46",
          "content" : "Trong 24h qua, Việt Nam ghi nhận 3 ca mắc mới COVID-19, có 01 bệnh nhân khỏi bệnh. Tuy nhiên trên thế giới dịch bệnh vẫn diễn ra vô cùng căng thẳng, số ca mắc tăng nhanh chóng. Các quốc gia đang nỗ lực chống dịch và đẩy nhanh tiến độ nghiên cứu, sản xuất vắc xin COVID-19. Các nhà nghiên cứu sản xuất vắc xin của Việt Nam cũng đang nỗ lực đẩy nhanh tiến độ. Trong 4 đơn vị nghiên cứu vắc xin của Việt Nam, có 2 đơn vị dự kiến cuối năm 2020 sẽ bắt đầu thử nghiệm vòng 1 trên người...",
          "image" :"https://media.suckhoedoisong.vn/thumb_555x335/Images/thaibinh/2020/11/07/ban-tin-dich-covid-19-trong-24h-qua-2-don-vi-cua-viet-nam-du-kien-cuoi-nam-2020-se-thu-nghiem-vong-1-vac-xin-covid-19-tren-nguoi1604715418.jpg",
          "Link" :" https://suckhoedoisong.vn/2-don-vi-cua-viet-nam-du-kien-cuoi-nam-2020-se-thu-nghiem-vong-1-vac-xin-covid-19-tren-nguoi-n182562.html"
    
        },
      {
          "title" :"Quảng Ninh: Rà soát các trường hợp tiếp xúc gần với bệnh nhân dương tính với SARS -CoV-2.",
          "date":"Thứ sáu, 06/11/2020, 19:22",
          "content" : "Liên quan ca nghi nhiễm COVID-19 người Nga nhập cảnh vào Việt Nam qua sân bay Vân Đồn mới đây, tỉnh Quảng Ninh đã và đang thực hiện rà soát, điều tra và lập danh sách toàn bộ các trường hợp tiếp xúc gần với bệnh nhân dương tính với SARS -CoV-2.",
          "image" :"http://giadinh.mediacdn.vn/thumb_w/640/2020/11/6/bai-chi-ly-4-16046626044561708490766.jpg",
          "Link" :" http://giadinh.net.vn/y-te/quang-ninh-ra-soat-cac-truong-hop-tiep-xuc-gan-voi-benh-nhan-duong-tinh-voi-sars-cov-2-20201106183813509.htm"
    
        },
      {
          "title" :"2 ca nhiễm COVID-19 mới",
          "date":"Thứ sáu, 06/11/2020, 18:34",
          "content" : "Bộ Y tế chiều 6/11 ghi nhận hai ca mắc COVID-19, đều là người nhập cảnh, được cách ly ngay tại tỉnh Quảng Ninh và Bà Rịa - Vũng Tàu.",
          "image" :"http://giadinh.mediacdn.vn/zoom/430_300/2020/5/6/xay-dung-phuong-an-cach-ly-15887621831941114134243-crop-1604661378262951894036.jpg",
          "Link" :" http://giadinh.net.vn/y-te/2-ca-nhiem-covid-19-moi-20201106181648442.htm"
    
        },
         {
          "title" :"Bài học quý từ sáng kiến huy động trí lực quốc gia điều trị bệnh nhân COVID-19 nặng",
          "date":"Thứ sáu, 06/11/2020, 13:17",
          "content" : "Thứ trưởng Bộ Y tế Nguyễn Trường Sơn đánh giá việc thành lập Trung tâm Hỗ trợ chẩn đoán chuyên môn điều trị COVID-19 là một sáng kiến tiêu biểu.",
          "image" :"http://giadinh.mediacdn.vn/thumb_w/640/2020/11/6/anh-chup-man-hinh-2020-11-06-luc-122638-1604640417965394086444.png",
          "Link" :"http://giadinh.net.vn/y-te/bai-hoc-quy-tu-sang-kien-huy-dong-tri-luc-quoc-gia-dieu-tri-benh-nhan-covid-19-nang-20201106123313008.htm"
    
        },
       {
          "title" :"Bộ Y tế tiếp nhận 2 tỷ đồng hỗ trợ sản xuất kit xét nghiệm nhanh SARS-CoV-2",
          "date":"Thứ sáu, 06/11/2020, 12:43",
          "content" : "Sáng 6/11, Bộ Y tế tổ chức lễ tiếp nhận hỗ trợ nghiên cứu và sản xuất bộ kit xét nghiệm nhanh SARS-CoV-2 tại Việt Nam do Trung tâm Nghiên cứu Sản xuất vaccine và sinh phẩm y tế (POLYVAC) thực hiện, được Công ty TNHH TCPVN tài trợ với kinh phí 2 tỷ đồng.",
          "image" :"http://giadinh.mediacdn.vn/2020/11/6/photo-1-16046332263721183062096.jpg",
          "Link" :" http://giadinh.net.vn/y-te/bo-y-te-tiep-nhan-2-ty-dong-ho-tro-san-xuat-kit-xet-nghiem-nhanh-sars-cov-2-20201106113320168.htm"
    
        },
       {
          "title" :"Bản tin dịch COVID-19 trong 24h: Quản lý chặt người nhập cảnh, tăng cường kiểm tra phòng chống dịch bệnh tại địa phương",
          "date":"Thứ sáu, 06/11/2020, 09:28",
          "content" : "Trước tình hình dịch bệnh COVID-19 tăng mạnh trên thế giới, để giữ vững các thành quả mà chúng ta đã đạt được, một mặt cần kiểm soát và quản lý chặt chẽ những người nhập cảnh vào Việt Nam, mặt khác cần tăng cường công tác kiểm tra, giám sát việc phòng chống dịch bệnh tại tất cả các địa phương trong cả nước.",
          "image" :"https://media.suckhoedoisong.vn/Images/maihuong/2020/11/06/quan_ly_chat_nguoi_nhap_canh1.jpg",
          "Link" :" https://suckhoedoisong.vn/quan-ly-chat-nguoi-nhap-canh-tang-cuong-phong-chong-dich-tai-dia-phuong-n182503.html"
    
        },
         {
          "title" :"Chuyên gia Ấn Độ và 2 người Việt Nam mắc COVID-19, được cách ly ngay khi nhập cảnh",
          "date":"Thứ sáu, 06/11/2020, 06:45",
          "content" : "Bản tin 6h ngày 6/11 của Ban Chỉ đạo Quốc gia Phòng chống dịch COVID-19 cho biết đã ghi nhận 3 ca mắc mới COVID-19 là chuyên gia đến từ Ấn Độ và người Việt Nam nhập cảnh từ Nhật Bản được cách ly ngay. Việt Nam hiện có 1.210 bệnh nhân.",
          "image" :"https://media.suckhoedoisong.vn/Images/toanthang/2020/10/03/31-ngay-khong-ghi-nhan-ca-mac-moi-covid-19-o-cong-dong-hon-16000-nguoi-cach-ly-chong-dich1601722906.jpg",
          "Link" :" https://suckhoedoisong.vn/chuyen-gia-an-do-va-2-nguoi-viet-nam-mac-covid-19-duoc-cach-ly-ngay-khi-nhap-canh-n182499.html"
    
        },
         {
          "title" :"64 ngày không ca nhiễm COVID-19 cộng đồng, mở rộng khu cách ly cho người nhập cảnh",
          "date":"Thứ năm, 05/11/2020, 18:29",
          "content" : "Phó Thủ tướng Chính phủ Phạm Bình Minh vừa có ý kiến về việc tiếp nhận cách ly công dân Việt Nam về nước trên các chuyến bay thương mại để bảo đảm phòng, chống dịch COVID-19.",
          "image" :"http://giadinh.mediacdn.vn/zoom/430_300/2020/11/5/cachly-1604574005513557299093-crop-1604574015338893622946.jpg",
          "Link" :"http://giadinh.net.vn/y-te/64-ngay-khong-ca-nhiem-covid-19-cong-dong-mo-rong-khu-cach-ly-cho-nguoi-nhap-canh-20201105180155613.htm"
    
        },
        {
          "title" :"Bản tin dịch COVID-19 trong 24h: Chủ quan, lơ là phòng dịch nguy cơ dịch bệnh xâm nhập",
          "date":"Thứ năm, 05/11/2020, 09:30",
          "content" : "Nguy cơ dịch COVID-19 xâm nhập luôn thường trực, tuy nhiên hiện nay đã xuất hiện tình trạng người dân chủ quan, lơ là trong phòng chống dịch.",
          "image" :"https://ncov.moh.gov.vn/image/journal/article?img_id=7174273&t=1604930961238",
          "Link" :"https://suckhoedoisong.vn/ban-tin-dich-covid-19-trong-24h--n182416.html"
    
        },
        {
          "title" :"Người phụ nữ Vĩnh Phúc được phát hiện mắc COVID-19 sau 14 ngày về nước",
          "date":"Thứ năm, 05/11/2020, 06:20",
          "content" : "Người phụ nữ 33 tuổi quê Vĩnh Phúc từ Oman nhập cảnh, cách ly tại Hà Nội từ 22/10, vừa được phát hiện mắc COVID-19.",
          "image" :"https://giadinh.mediacdn.vn/thumb_w/600/2020/11/4/covid511-1604505088237464714398-crop-1604505093587312445722.jpeg",
          "Link" :"http://giadinh.net.vn/y-te/nguoi-phu-nu-vinh-phuc-duoc-phat-hien-mac-covid-19-sau-14-ngay-ve-nuoc-20201104225225874.htm"
    
        },
       {
          "title" :"Hà Nội: 2 nhân viên khách sạn Mường Thanh trở thành F1 vì đổi tiền, nghe điện thoại 10 giây hộ bệnh nhân COVID-19",
          "date":"Thứ tư, 04/11/2020, 16:41",
          "content" : "Một người nghe hộ điện thoại của bệnh nhân COVID-19 trong 10 giây, người khác lại đổi tiền cho bệnh nhân này, đã trở thành F1.",
          "image" :"http://giadinh.mediacdn.vn/thumb_w/640/2020/11/4/cachly-16044797310311624710873.jpg",
          "Link" :"http://giadinh.net.vn/y-te/ha-noi-3-nhan-vien-khach-san-muong-thanh-tro-thanh-f1-vi-doi-tien-nghe-dien-thoai-10-giay-ho-benh-nhan-covid-19-20201104155330374.htm"
    
        },
         {
          "title" :"Bản tin dịch COVID-19 trong 24h: Giữ an toàn, không để dịch COVID-19 tái phát",
          "date":"Thứ tư, 04/11/2020, 10:06",
          "content" : "Thủ tướng Chính phủ, Ban chỉ đạo quốc gia phòng, chống dịch COVID-19 yêu cầu tiếp tục thực hiện nghiêm việc đeo khẩu trang. Biện pháp này không chỉ ở những đô thị lớn, mật độ dân cư cao mà ngay tại các xã phường, thị trấn… Ban Chỉ đạo cũng khẳng định quyết tâm giữ an toàn trong nước, không để dịch COVID-19 tái phát khi mùa Đông đến.",
          "image" :"https://ncov.moh.gov.vn/image/journal/article?img_id=7173778&t=1604931733735",
          "Link" :"https://suckhoedoisong.vn/khong-de-dich-covid-19-tai-phat-n182381.html"
    
        },
        {
          "title" :"Chuyên gia người Israel được cách ly tại quận Hoàn Kiếm trở thành BN1203",
          "date":"Thứ tư, 04/11/2020, 06:18",
          "content" : "Người đàn ông quốc tịch Israel, 60 tuổi, là chuyên gia, nhập cảnh hôm 31/10 đã được cách ly tại quận Hoàn Kiếm, Hà Nội, vừa phát hiện mắc COVID-19.",
          "image" :"https://ncov.moh.gov.vn/image/journal/article?img_id=7173763&t=1604931733737",
          "Link" :"http://giadinh.net.vn/y-te/chuyen-gia-nguoi-israel-duoc-cach-ly-tai-quan-hoan-kiem-tro-thanh-bn1203-2020110322585854.htm"
    
        },
        {
          "title" :"10 ca mắc mới, Việt Nam có 1.202 bệnh nhân COVID-19",
          "date":"Thứ ba, 03/11/2020, 18:31",
          "content" : "10 ca mắc mới đều là các ca nhập cảnh được cách ly ngay. Thêm 4 người được công bố khỏi bệnh. Thông tin vừa được Bộ Y tế cho biết.",
          "image" :"http://giadinh.mediacdn.vn/zoom/416_300/2020/10/29/covid-16039686691751125770143-crop-16044011963851070714035.jpg",
          "Link" :" http://giadinh.net.vn/y-te/10-ca-mac-moi-viet-nam-co-1202-benh-nhan-covid-19-20201103180040592.htm"
    
        },
        {
          "title" :"Sáng 3/11, không ca mắc COVID-19, xử lý vi phạm quy định đeo khẩu trang ở cơ sở y tế; chợ, siêu thị...",
          "date":"Thứ ba, 03/11/2020, 06:46",
          "content" : "Bản tin sáng ngày 3/11 của Ban Chỉ đạo Quốc gia phòng chống dịch COVID-19 cho biết không có thêm ca mắc COVID-19 mới, Việt Nam hiện vẫn có 1.192 bệnh nhân. Ban Chỉ đạo Quốc gia nhấn mạnh thời gian tới, các tỉnh, thành phố phải tăng cường kiểm tra, xử lý trường hợp vi phạm quy định đeo khẩu trang, đặc biệt tại cơ sở y tế; chợ, siêu thị, trung tâm thương mại; phương tiện giao thông công cộng; cơ sở lưu trú, khách sạn...",
          "image" :"https://media.suckhoedoisong.vn/Images/toanthang/2020/11/03/unnamed.png",
          "Link" :"https://suckhoedoisong.vn/sang-3-11-khong-ca-mac-covid-19-xu-ly-vi-pham-quy-dinh-deo-khau-trang-o-y-te-cho-sieu-thi-n182328.html"
    
        },
       {
          "title" :"12 ca mắc COVID-19 mới, tăng cường xử lý người vi phạm quy định đeo khẩu trang",
          "date":"Thứ hai, 02/11/2020, 18:28",
          "content" : "12 ca mắc mới đều là ca nhập cảnh, được cách ly ngay. VIệt Nam đã có 1.192 bệnh nhân COVID-19.",
          "image" :"http://giadinh.mediacdn.vn/zoom/416_300/2020/10/31/camacmoi--1604142317108863292126-crop-16043149774101540567067.jpg",
          "Link" :"http://giadinh.net.vn/y-te/12-ca-mac-covid-19-moi-tang-cuong-xu-ly-nguoi-vi-pham-quy-dinh-deo-khau-trang-20201102180341792.htm"
    
        },
       {
          "title" :"Bản tin dịch COVID-19 trong 24h: Nâng cao cảnh giác, thực hiện nghiêm việc đeo khẩu trang phòng ngừa dịch bệnh",
          "date":"Thứ hai, 02/11/2020, 09:22",
          "content" : "Trên thế giới, dịch bệnh vẫn đang diễn biến phức tạp và khó lường. Tại Việt Nam, các cơ quan chức năng yêu cầu các cảng vụ hàng không tổ chức kiểm tra, giám sát việc đảm bảo thực hiện nghiêm túc yêu cầu toàn bộ hành khách (bao gồm cả người Việt Nam và người nước ngoài) bắt buộc phải đeo khẩu trang đúng cách trong suốt thời gian trên máy bay, khi làm thủ tục, trong thời gian ở cảng hàng không, sân bay.",
          "image" :"https://media.suckhoedoisong.vn/thumb_555x335/Images/haiyen/2020/11/02/ban-tin-dich-covid-19-trong-24h-nang-cao-canh-giac-thuc-hien-nghiem-viec-deo-khau-trang-phong-ngua-dich-benh1604282373.png",
          "Link" :"https://suckhoedoisong.vn/ban-tin-dich-covid-19-trong-24h--n182287.html"
    
        },
      {
          "title" :"Sáng 2/11, không ca mắc mới COVID-19, nhiều nước châu Âu phong toả trở lại",
          "date":"Thứ hai, 02/11/2020, 06:39",
          "content" : "Bản tin sáng ngày 2/11 của Ban Chỉ đạo Quốc gia phòng chống dịch COVID-19 cho biết không có thêm ca mắc COVID-19 mới, Việt Nam hiện vẫn có 1.180 bệnh nhân. Đến nay đã 61 ngày chúng ta chưa ghi nhận ca mắc ở cộng đồng và đã chữa khỏi 1.063 bệnh nhân. Trước tình hình dịch bệnh gia tăng nhanh chóng, nhiều nước châu Âu phong toả trở lại.",
          "image" :"https://media.https://ncov.moh.gov.vn/vi/web/guest/-/6847426-404suckhoedoisong.vn/thumb_355x220/Images/thaibinh/2020/11/01/chieu-1-11-khong-ca-mac-moi-covid-19-viet-nam-van-co-1180-benh-nhan1604228275.jpg",
          "Link" :" https://suckhoedoisong.vn/sang-2-11-khong-ca-mac-moi-covid-19-nhieu-nuoc-chau-au-phong-toa-tro-lai-n182286.html"
    
        },
        {
          "title" :"Bản tin dịch COVID-19 trong 24h: Việt Nam điều trị khỏi 1.063 ca nhiễm COVID-19, trên thế giới gần 1,2 triệu ca tử vong",
          "date":"Chủ nhật, 01/11/2020, 09:09",
          "content" : "Tính đến 6 giờ sáng ngày 1/11, Việt Nam không ghi nhận ca mắc mới COVID-19 trong 12 giờ qua, tổng số mắc hiện là 1.180 ca, điều trị khỏi 1.063 ca. Đến nay đã tròn 2 tháng Việt Nam không có ca mắc mới trong cộng đồng. Trên thế giới có 46.344.816 ca mắc và 1.199.344 ca tử vong vì COVID-19.",
          "image" :"https://media.suckhoedoisong.vn/Images/minhchau/2020/11/01/sang_3_10_khong_ca_mac_moi_covid_19_viet_nam_chua_khoi_1_020_benh_nhan_08465303102020.jpg",
          "Link" :" https://suckhoedoisong.vn/ban-tin-dich-covid-19-trong-24h-gan-12-trieu-ca-tu-vong-vi-covid-19-tren-the-gioi-n182260.html"
    
        },
       {
          "title" :"Tròn 2 tháng Việt Nam chưa ghi nhận ca mắc COVID-19 ở cộng đồng, thế giới hơn 46 triệu ca",
          "date":"Chủ nhật, 01/11/2020, 06:55",
          "content" : "Bản tin sáng ngày 1/11, của Ban Chỉ đạo Quốc gia cho biết không có thêm ca mắc COVID-19 mới. Đến nay tròn 2 tháng Việt Nam chưa ghi nhận ca mắc ở cộng đồng và đã chữa khỏi 1.063 bệnh nhân. Đến sáng nay, thế giới ghi nhận hơn 46 triệu ca COVID-19, trong đó trên 1,19 triệu ca tử vong.",
          "image" :"https://ncov.moh.gov.vn/image/journal/article?img_id=7173321&t=1604932375955",
          "Link" :"https://suckhoedoisong.vn/tron-2-thang-viet-nam-chua-ghi-nhan-ca-mac-covid-19-o-cong-dong-the-gioi-hon-46-trieu-ca-n182258.html"
    
        },
        {
          "title" :"Chuyên gia Hàn Quốc bay từ TP.HCM phát hiện dương tính tại Nhật Bản đã có kết quả âm tính với SARS-CoV-2",
          "date":"Thứ bảy, 31/10/2020, 18:14",
          "content" : "Chiều nay (31/10), Trung tâm Kiểm soát Bệnh tật TP.HCM cho biết, chuyên gia người người Hàn Quốc đã có kết quả xét nghiệm âm tính với SARS-CoV-2 bằng xét nghiệm RT-PCR vào ngày thứ 6 sau khi người này nhập cảnh.",
          "image" :"http://giadinh.mediacdn.vn/thumb_w/640/2020/10/31/xet-nghiem-covid-19-1604140224907375746479.jpg",
          "Link" :"http://giadinh.net.vn/y-te/chuyen-gia-han-quoc-bay-tu-tphcm-phat-hien-duong-tinh-tai-nhat-ban-da-co-ket-qua-am-tinh-voi-sars-cov-2-20201031173737438.htm"
    
        },
        {
          "title" :"3 ca mắc mới tối 31/10, có người ở Hà Nội cách ly tại Đà Nẵng",
          "date":"Thứ bảy, 31/10/2020, 18:13",
          "content" : "3 ca mắc mới COVID-19 đều là người nhập cảnh, được cách ly ngay tại Khánh Hoà và Đà Nẵng.",
          "image" :"http://giadinh.mediacdn.vn/2020/10/31/camacmoi--1604142317108863292126.jpg",
          "Link" :"http://giadinh.net.vn/y-te/3-ca-mac-moi-toi-31-10-co-nguoi-o-ha-noi-cach-ly-tai-da-nang-20201031180652978.htm"
    
        },
        {
          "title" :"Sáng 31/10, không ca mắc COVID-19, hơn 14.700 người đang cách ly chống dịch",
          "date":"Thứ bảy, 31/10/2020, 06:59",
          "content" : "Bản tin sáng ngày 31/10, của Ban Chỉ đạo Quốc gia cho biết không có thêm ca mắc COVID-19 mới. Đến nay đã 59 ngày Việt Nam không ghi nhận ca mắc ở cộng đồng và đã chữa khỏi 1.063 bệnh nhân. Hiện hơn 14.700 người đang cách ly chống dịch. ",
          "image" :"https://media.suckhoedoisong.vn/thumb_600x400/Images/thaibinh/2020/10/31/sang-31-10-khong-ca-mac-covid-19-hon-14700-nguoi-dang-cach-ly-chong-dich1604101282.jpg",
          "Link" :" https://suckhoedoisong.vn/sang-31-10-khong-ca-mac-covid-19-hon-14700-nguoi-dang-cach-ly-chong-dich-n182191.html"
    
        },
        {
          "title" :"58 ngày Việt Nam chưa ghi nhận ca mắc COVID-19 ở cộng đồng, 1.063 bệnh nhân được chữa khỏi",
          "date":"Thứ sáu, 30/10/2020, 18:18",
          "content" : "Thứ sáu, 30/10/2020, 18:18",
          "image" :"https://media.suckhoedoisong.vn/Images/toanthang/2020/10/30/benh_nhan_426_tu_vong.jpg",
          "Link" :"https://suckhoedoisong.vn/58-ngay-viet-nam-chua-ghi-nhan-ca-mac-covid-19-o-cong-dong-1063-benh-nhan-duoc-chua-khoi-n182182.html"
    
        },
        {
          "title" :"Tri ân 264 chiến sĩ, 56 tập thể tuyến đầu chống dịch COVID-19",
          "date":"Thứ sáu, 30/10/2020, 17:36",
          "content" : "264 cá nhân và 56 tập thể đã được tôn vinh trong chương trình “tri ân tuyến đầu chống dịch COVID-19”. Những tập thể, cá nhân được tôn vinh không chỉ là các y bác sĩ và bệnh viện mà còn có các chiến sĩ bộ đội biên phòng, công an, phi công, tiếp viên hàng không, các tình nguyện viên xuất sắc...",
          "image" :"https://media.suckhoedoisong.vn/Images/thaibinh/2020/10/30/IMG_2586.jpg",
          "Link" :" https://suckhoedoisong.vn/tri-an-264-chien-si-56-tap-the-tuyen-dau-chong-dich-covid-19-n182179.html"
    
        },
       {
          "title" :"Bệnh viện Phổi khám sàng lọc lao phòng COVID-19 trong tình hình mới",
          "date":"Thứ sáu, 30/10/2020, 12:14",
          "content" : "Bệnh viện Phổi, Phú Thọ đã triển khai hiệu quả công tác khám sàng lọc lao tại bệnh viện cũng như cộng đồng, nhiều người bệnh lao đã được phát hiện sớm và điều trị kịp thời.",
          "image" :"https://media.suckhoedoisong.vn/Images/anhvan/2020/10/30/BV_Phi_kham_sang_lc_ti_cng_ng.jpg",
          "Link" :"https://suckhoedoisong.vn/benh-vien-phoi-kham-sang-loc-lao-phong-covid-19-trong-tinh-hinh-moi-n182164.html"
    
        },
       {
          "title" :"Bản tin dịch COVID-19 trong 24h: Giữ vững thành quả đạt được trước diễn biến xấu của dịch bệnh thế giới",
          "date":"Thứ sáu, 30/10/2020, 09:19",
          "content" : "Đã 58 ngày liên tiếp Việt Nam không có ca mắc mới tại cộng đồng trong khi tình hình dịch bệnh trên thế giới có chiều hướng xấu, số ca mắc đã vượt trên 45 triệu ca.",
          "image" :"https://media.suckhoedoisong.vn/Images/maihuong/2020/10/30/Tuan_thu_cac_quy_dinh_ve_phong_chong_dich_tai_cac_co_so_y_te1.jpg",
          "Link" :"https://suckhoedoisong.vn/giu-vung-thanh-qua-dat-duoc-truoc-dien-bien-xau-cua-dich-benh-the-gioi-n182159.html"
    
        },
         {
          "title" :"Sáng 30/10, Việt Nam không ca mắc mới COVID-19, thế giới vượt 45 triệu ca mắc",
          "date":"Thứ sáu, 30/10/2020, 06:48",
          "content" : "Bản tin sáng ngày 30/10, của Ban Chỉ đạo Quốc gia cho biết không có thêm ca mắc COVID-19 mới. Đến nay đã 58 ngày Việt Nam không ghi nhận ca mắc ở cộng đồng. Trong vòng 24 giờ qua, thế giới ghi nhận trên 511.000 ca bệnh COVID-19 và trên 6.500 ca tử vong. Tổng số ca bệnh từ đầu dịch tới nay đã vượt 45 triệu ca, trong đó trên 1,18 triệu ca tử vong.",
          "image" :"https://media.suckhoedoisong.vn/thumb_600x400/Images/thaibinh/2020/10/30/sang-30-10-viet-nam-khong-ca-mac-moi-covid-19-the-gioi-vuot-45-trieu-ca-mac1604014467.jpg",
          "Link" :" https://suckhoedoisong.vn/sang-30-10-viet-nam-khong-ca-mac-moi-covid-19-the-gioi-vuot-45-trieu-ca-mac-n182156.html"
    
        },
        {
          "title" :"4 ca mắc COVID-19 mới, Việt Nam có 1.177 bệnh nhân",
          "date":"Thứ năm, 29/10/2020, 18:15",
          "content" : "4 ca mắc COVID-19 vừa phát hiện đều là người nhập cảnh từ Pháp về, được cách ly ngay tại Bà Rịa - Vũng Tàu.",
          "image" :"https://ncov.moh.gov.vn/image/journal/article?img_id=7173171&t=1604933656011",
          "Link" :" http://giadinh.net.vn/y-te/4-ca-mac-covid-19-moi-viet-nam-co-1177-benh-nhan-20201029175200298.htm"
    
        },
        {
          "title" :"Người Việt bay từ nước ngoài về sẽ có quy trình cách ly COVID-19 như thế nào?",
          "date":"Thứ năm, 29/10/2020, 18:03",
          "content" : "Theo dự thảo, công dân Việt Nam, người nước ngoài là thân nhân của công dân Việt Nam, trước khi nhập cảnh cần thêm đăng ký, có xác nhận tiếp nhận của khách sạn và dịch vụ đưa đón.",
          "image" :"http://giadinh.mediacdn.vn/thumb_w/640/2020/10/29/anh-chup-man-hinh-2020-10-29-luc-164329-1603964907747421160908.png",
          "Link" :"http://giadinh.net.vn/y-te/nguoi-viet-bay-tu-nuoc-ngoai-ve-se-co-quy-trinh-cach-ly-covid-19-nhu-the-nao-20201029165356556.htm"
    
        },
       {
          "title" :"Chi tiết mức phí xét nghiệm COVID-19 với người Việt muốn đi nước ngoài",
          "date":"Thứ năm, 29/10/2020, 10:18",
          "content" : "Xét nghiệm COVID-19 bằng phương pháp RT Real-Time PCR có giá tối đa 734.000 đồng/mẫu, còn test nhanh có giá tối đa 238.000 đồng/mẫu.",
          "image" :"http://giadinh.mediacdn.vn/2020/10/18/nhapcanh-1603019213986536226205.jpg",
          "Link" :"http://giadinh.net.vn/y-te/chi-tiet-muc-phi-xet-nghiem-covid-19-voi-nguoi-viet-muon-di-nuoc-ngoai-20201029091818163.htm"
    
        },
        {
          "title" :"Bản tin dịch COVID-19 trong 24h: Dịch bệnh thế giới phức tạp, Việt Nam nối dài chuỗi ngày không có ca bệnh trong cộng đồng",
          "date":"Thứ năm, 29/10/2020, 09:16",
          "content" : "Đến thời điểm hiện tại, Việt Nam đã chữa khỏi 1.062 /1.173 bệnh nhân COVID-19. Mặc dù tình hình dịch bệnh thế giới phức tạp nhưng Việt Nam tiếp tục nối dài chuỗi ngày không có ca bệnh trong cộng đồng.",
          "image" :"https://media.suckhoedoisong.vn/thumb_600x400/Images/haiyen/2020/10/29/ban-tin-dich-covid-19-trong-24h1603930312.jpg",
          "Link" :"https://suckhoedoisong.vn/ban-tin-dich-covid-19-trong-24h--n182078.html"
    
        },
        {
          "title" :"Mới: Bộ Y tế hướng dẫn áp dụng mức giá xét nghiệm COVID-19 cho người xuất cảnh",
          "date":"Thứ năm, 29/10/2020, 08:44",
          "content" : "Xét nghiệm COVID-19 bằng phương pháp Real-time PCR có giá tối đa 734.000 đồng/mẫu, còn test nhanh có giá tối đa 238.000 đồng/mẫu.",
          "image" :"https://media.suckhoedoisong.vn/Images/thaibinh/2020/10/29/gia_ma_gen.jpg",
          "Link" :" https://suckhoedoisong.vn/moi-bo-y-te-huong-dan-ap-dung-muc-gia-xet-nghiem-covid-19-cho-nguoi-xuat-canh-n182079.html"
    
        },
        {
          "title" :"Việt Nam 57 ngày chưa ghi nhận ca mắc COVID-19 ở cộng đồng, nhiều nước Châu âu tái áp đặt lệnh phong toả",
          "date":"Thứ năm, 29/10/2020, 06:48",
          "content" : "Bản tin sáng ngày 29/10, của Ban Chỉ đạo Quốc gia cho biết không có thêm ca mắc COVID-19 mới. Đến nay đã 57 ngày Việt Nam không ghi nhận ca mắc ở cộng đồng. Trong 24 giờ qua, thế giới ghi nhận 446.991 trường hợp mắc COVID-19 và 6.137 ca tử vong. Tại châu Âu, trước làn sóng dịch mới, hàng loạt quốc gia tại châu Âu đã quyết định tái áp đặt lệnh phong tỏa.",
          "image" :"https://media.suckhoedoisong.vn/thumb_600x400/Images/thaibinh/2020/10/29/viet-nam-57-ngay-chua-ghi-nhan-ca-mac-covid-19-o-cong-dong-nhieu-nuoc-chau-au-tai-ap-dat-lenh-phong-toa1603928313.jpg",
          "Link" :"https://suckhoedoisong.vn/viet-nam-57-ngay-chua-ghi-nhan-ca-mac-covid-19-o-cong-dong-nhieu-nuoc-chau-au-tai-ap-dat-lenh-phong-toa-n182077.html"
    
        },
       {
          "title" :"Bệnh nhân COVID-19 mới phát hiện là người đàn ông 43 tuổi vừa về nước",
          "date":"Thứ tư, 28/10/2020, 18:16",
          "content" : "Người đàn ông quê Thị xã Kỳ Anh, Hà Tĩnh, về nước hôm 20/10. Chuyến bay này đến nay đã phát hiện 14 ca dương tính SARS-CoV-2.",
          "image" :"http://giadinh.mediacdn.vn/thumb_w/640/2020/2/26/ncov-5969-1581246360-1582719263316641541074.jpg",
          "Link" :"http://giadinh.net.vn/y-te/benh-nhan-covid-19-moi-phat-hien-la-nguoi-dan-ong-43-tuoi-vua-ve-nuoc-20201028175625738.htm"
    
        },
         {
          "title" :"Hà Nội: Nhiều người dân ở quận Cầu Giấy không đeo khẩu trang nơi công cộng",
          "date":"Thứ tư, 28/10/2020, 17:15",
          "content" : "Theo đại diện UBND quận Cầu Giấy, qua kiểm tra, trên địa bàn vẫn còn tình trạng người dân lơ là, không đeo khẩu trang.",
          "image" :"http://giadinh.mediacdn.vn/2020/10/28/khau-trang-1603877957574162268267-crop-16038779682382050610233.jpg",
          "Link" :"http://giadinh.net.vn/y-te/ha-noi-nhieu-nguoi-dan-o-quan-cau-giay-khong-deo-khau-trang-noi-cong-cong-20201028164058756.htm"
    
        },
        {
          "title" :"Hà Nội thận trọng với nguy cơ dịch COVID-19 quay trở lại từ các đường bay thương mại",
          "date":"Thứ tư, 28/10/2020, 16:13",
          "content" : "UBND TP Hà Nội cho biết, mặc dù dịch COVID-19 đã được kiểm soát và chỉ ghi nhận các trường hợp mắc từ nhập cảnh nhưng vẫn có nguy cơ dịch “quay trở lại”, khi mở lại các đường bay thương mại.",
          "image" :"http://giadinh.mediacdn.vn/2020/10/28/dich-covid-19-16038747476661910332576.jpg",
          "Link" :"http://giadinh.net.vn/y-te/ha-noi-than-trong-voi-nguy-co-dich-covid-19-quay-tro-lai-tu-cac-duong-bay-thuong-mai-20201028154738836.htm"
    
        },
       {
          "title" :"Bản tin dịch COVID-19 trong 24h: Yêu cầu phải đeo khẩu trang nơi tập trung đông người",
          "date":"Thứ tư, 28/10/2020, 09:41",
          "content" : "Trước tình hình tình hình dịch COVID-19 trên thế giới tiếp tục diễn biến phức tạp, nhằm thực hiện chung sống an toàn với dịch bệnh trong trạng thái bình thường mới, Bộ Y tế dự thảo hướng dẫn đeo khẩu trang tại các địa điểm công cộng, những nơi tập trung đông người.",
          "image" :"https://media.suckhoedoisong.vn/Images/thuyhanh/2020/10/28/deo_khia_trang.jpg",
          "Link" :"https://suckhoedoisong.vn/yeu-cau-phai-deo-khau-trang-noi-tap-trung-dong-nguoi-n182032.html"
        },
         {
          "title" :"3 ca mắc COVID-19 mới, có người ở quận Đống Đa (Hà Nội) vừa về nước",
          "date":"Thứ ba, 27/10/2020, 18:21",
          "content" : "3 ca mắc mới vừa được công bố là các ca nhập cảnh, được cách ly ngay. Trong số này có nam thanh niên 22 tuổi ở đường Nam Đồng, Đống Đa, Hà Nội vừa từ Pháp về.",
          "image" :"http://giadinh.mediacdn.vn/zoom/416_300/2020/6/1/anh-chup-man-hinh-2020-06-01-luc-214037-159102244766569351803-crop-1603796190102130959018.png",
          "Link" :" http://giadinh.net.vn/y-te/3-ca-mac-covid-19-moi-co-nguoi-o-quan-dong-da-ha-noi-vua-ve-nuoc-20201027175727408.htm"
        },
       {
          "title" :"Bản tin dịch COVID-19 trong 24h: 55 ngày không ghi nhận ca mắc mới trong cộng đồng; cần quản lý chặt người nhập cảnh",
          "date":"Thứ ba, 27/10/2020, 09:13",
          "content" : "Tại Việt Nam đã 55 ngày không ghi nhận ca mắc trong cộng đồng. Trên thế giới dịch COVID – 19 tăng theo cấp số nhân. Bộ y tế khuyến cáo: nguy cơ dịch bệnh xâm nhập rất cao, các cơ quan chức năng cần siết chặt hơn các biện pháp giám sát, quản lý chặt những người nhập cảnh, tuân thủ nghiêm việc cách ly tập trung.",
          "image" :"https://media.suckhoedoisong.vn/Images/buiha/2020/10/27/unnamed.jpg",
          "Link" :" https://suckhoedoisong.vn/ban-tin-dich-covid-19-trong-24h-55-ngay-khong-ghi-nhan-ca-mac-moi-trong-cong-dong-can-quan-ly-chat-nguoi-nhap-canh-n181988.html"
      },
      {
          "title" :"55 ngày Việt Nam không ghi nhận ca mắc COVID-19 ở cộng đồng, 1.061 bệnh nhân được chữa khỏi",
          "date":"Thứ ba, 27/10/2020, 06:28",
          "content" : "Bộ Y tế tối 26/10 cho biết vừa phát hiện thêm ca mắc mới COVID-19, nâng số ca dương tính ở nước ta lên 1.169.",
          "image" :"https://media.suckhoedoisong.vn/thumb_600x400/Images/thaibinh/2020/10/26/55-ngay-viet-nam-khong-ghi-nhan-ca-mac-covid-19-o-cong-dong-1061-benh-nhan-duoc-chua-khoi1603730531.jpg",
          "Link" :"https://suckhoedoisong.vn/55-ngay-viet-nam-khong-ghi-nhan-ca-mac-covid-19-o-cong-dong-1061-benh-nhan-duoc-chua-khoi-n181983.html"
      },
     {
          "title" :"Thêm người mắc COVID-19 trên chuyến bay từng có 14 ca dương tính",
          "date":"Thứ hai, 26/10/2020, 18:37",
          "content" : "Bộ Y tế tối 26/10 cho biết vừa phát hiện thêm ca mắc mới COVID-19, nâng số ca dương tính ở nước ta lên 1.169.",
          "image" :"http://giadinh.mediacdn.vn/2020/6/18/may-bay-vietnam-airlines-sau-khi-cho-benh-nhan-covid-19-thu-17-da-bay-them-6-chuyen-15924777034871258833833.jpg",
          "Link" :"http://giadinh.net.vn/y-te/them-nguoi-mac-covid-19-tren-chuyen-bay-tung-co-14-ca-duong-tinh-20201026180834011.htm"
      },
      {
          "title" :"Bản tin dịch COVID-19 trong 24h: Kiên quyết không để dịch bệnh quay lại",
          "date":"Thứ tư, 21/10/2020, 09:21",
          "content" : "Tại cuộc họp trực tuyến Thường trực Chính phủ với Ban Chỉ đạo Quốc gia phòng, chống dịch COVID-19 về triển khai một số biện pháp phòng, chống dịch trong giai đoạn hiện nay, Thủ tướng Nguyễn Xuân Phúc lưu ý, mùa Đông khắc nghiệt sẽ tạo thuận lợi cho COVID-19 lây lan rộng. Vì vậy, Thủ tướng nhấn mạnh, không được chủ quan trong mọi trường hợp, mọi cơ quan, đơn vị, địa phương có trách nhiệm cao, kiên quyết không để dịch bệnh quay lại.",
          "image" :"https://media.suckhoedoisong.vn/thumb_555x335/Images/thuyhanh/2020/10/21/ban-tin-dich-covid-19-trong-24h-kien-quyet-khong-de-dich-benh-quay-lai1603245083.jpg",
          "Link" :"https://suckhoedoisong.vn/-kien-quyet-khong-de-dich-benh-quay-lai-n181730.html"
      },
      {
          "title" :"Sáng 24/10, không có ca mắc mới, Việt Nam vẫn có 1.148 người mắc COVID-19",
          "date":"Thứ bảy, 24/10/2020, 06:27",
          "content" : "Bản tin sáng ngày 24/10, của Ban Chỉ đạo Quốc gia cho biết không có thêm ca mắc COVID-19 mới. Đến nay đã 52 ngày Việt Nam không ghi nhận ca mắc ở cộng đồng. Việt Nam đã chữa khỏi 1.049/1.148 bệnh nhân COVID-19.",
          "image" :"https://media.suckhoedoisong.vn/Images/haiyen/2020/10/23/cach_ly.jpg",
          "Link" :"https://suckhoedoisong.vn/viet-nam-co-1148-nguoi-mac-covid-19-nang-cao-canh-giac-truoc-dien-bien-dich-benh-the-gioi-n181879.html"
      },
     {
          "title" :"Đến 18h ngày 23/10: Không có ca mắc COVID-19 mới, Việt Nam có 1148 bệnh nhân",
          "date":"Thứ sáu, 23/10/2020, 18:14",
          "content" : "Vào 18h ngày 23/10/2020, Ban Chỉ đạo Quốc gia Phòng chống dịch COVID-19 cho biết không có ca mắc mới COVID-19, Việt Nam hiện có 1.148 bệnh nhân. Người dân và ngành y tế không được chủ quan, vẫn phải cảnh giác, chủ động phòng bệnh trong mọi tình huống. Đặc biệt, phải kiểm soát chặt chẽ những người nhập cảnh từ nước ngoài vào Việt Nam.",
          "image" :"https://media.suckhoedoisong.vn/Images/haiyen/2020/10/23/cach_ly.jpg",
          "Link" :" https://suckhoedoisong.vn/den-18h-ngay-23-10-khong-co-ca-mac-covid-19-moi-viet-nam-co-1148-benh-nhan-n181861.html"
      },
     {
          "title" :"Bản tin dịch COVID-19 trong 24h: Thực hiện tốt các biện pháp phòng chống dịch trước diễn biến phức tạp của dịch bệnh trên thế giới",
          "date":"Thứ sáu, 23/10/2020, 09:28",
          "content" : "Trước diễn biến phức tạp của dịch bệnh COVID-19 trên thế giới, nhất là tình hình tăng mạnh trở lại ở khu vực châu Âu, Việt Nam lại mở cửa đón người Việt từ nước ngoài trở về và các chuyên gia nước ngoài đến làm việc nên việc tuân thủ tốt các biện pháp phòng chống dịch bệnh luôn được đặt lên hàng đầu.",
          "image" :"https://media.suckhoedoisong.vn/Images/maihuong/2020/10/23/Tuan_thu_nghiem_cac_bien_phap_phong_chong_dich_benh1.jpg",
          "Link" :" https://suckhoedoisong.vn/thuc-hien-tot-phong-chong-dich-truoc-dien-bien-phuc-tap-cua-the-gioi-n181838.html"
      },
      {
          "title" :"Sáng 23/10, Việt Nam không ca mắc mới COVID-19, tình hình dịch thế giới diễn biến phức tạp",
          "date":"Thứ sáu, 23/10/2020, 06:26",
          "content" : "Bản tin sáng ngày 23/10, của Ban Chỉ đạo Quốc gia cho biết không có thêm ca mắc COVID-19 mới. Đến nay đã 51 ngày Việt Nam không ghi nhận ca mắc ở cộng đồng và đã chữa khỏi 1.049 bệnh nhân. Trên thế giới, tình hình dịch COVID-19 tiếp tục diễn biến phức tạp tại châu Âu. Một số điểm nóng về dịch bệnh tại châu Á tiếp tục ghi nhận số ca mắc tăng mạnh...",
          "image" :"https://media.suckhoedoisong.vn/thumb_600x400/Images/thaibinh/2020/10/22/sang-23-10-viet-nam-khong-ca-mac-moi-covid-19-tinh-hinh-dich-the-gioi-dien-bien-phuc-tap1603384434.jpg",
          "Link" :"https://suckhoedoisong.vn/sang-23-10-viet-nam-khong-ca-mac-moi-covid-19-tinh-hinh-dich-the-gioi-dien-bien-phuc-tap-n181833.html"
      }
    ]   

let perPage = 5;
let idPage = 1;
let start = 0;
let end = perPage;
const totalPages=Math.ceil(datanews.length/perPage)
function getCurrentPage(indexPage) {
    start = (indexPage - 1) * perPage;
    end = indexPage * perPage;
}

function renderProduct() {
    let html = '';
    const content = datanews.map((item, index) => {
            if (index >= start && index < end) {
                //for(let i=index;i<=end;i++){
                html += '<div class="news-right">';
                html += '<div class="row mb-1">';

                html += '<div class="col-sm-6">';
                html += '<a><img class="news-img" src="' + item.image + '" alt="tintuc" border="0"></a>';
                html += '</div>';

                html += '<div class="col-sm-6">';
                html += '<div class="news-title" style="font-size: 0.9rem;">';
                html += '<a href="/tintuc/chitietnews">' + item.title + '</a>';
                html += '<br>';
                html += '<strong class="text-muted" style="font-size: 10px;">' + item.date + '</strong>';
                html += '</div>';
                html += '<div class="caption">' + item.content + ' </div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                
                // console.log(html);
                 return html;
            }
        });
     document.getElementById('new').innerHTML = html;
}
renderProduct();
//renderListPage();


{{!-- function changePage() {
        const idPages = document.querySelectorAll('.page ul');
        //console.log(idPages);
        //console.log(idPages.length);
        for (let i = 0; i < idPages.length; i++) {
           idPages[i].addEventListener('click',()=>{
               //console.log(i);
                let value = i + 1;
                //console.log(value);
                idPage = value;
                $('.page ul').removeClass('active');
                idPages[i].classList.add('active');
                if(idPage>1&&idPage<totalPages){
                    $('.btn-prev').removeClass('btn-active');
                    $('.btn-next').removeClass('btn-active');
                }
                if(idPage==1){
                    $('.btn-prev').addClass('btn-active');
                }
                if(idPage=totalPages){
                    $('.btn-next').addClass('btn-active');
                }

                
                getCurrentPage(idPage);
                //console.log(getCurrentPage(idPage));
                renderProduct();
            });
        }
    }
    changePage() --}}
document.querySelector('.btn-next').addEventListener('click',()=>{
    idPage++;
    if (idPage > totalPages) {
        idPage = totalPages;
    }
    if (idPage == totalPages) {
        $('.btn-next').addClass('btn-active');
          
    } else {
         $('.btn-next').removeClass('btn-active'); 
        
    }
    {{!-- const btnPrev = document.querySelector('.btn-prev');
    btnPrev.classList.remove('btn-active');
    $('.number-page').removeClass('active');
    $('.number-page(${idPage - 1})').addClass('active'); --}}
    getCurrentPage(idPage);
    renderProduct();
    $(document).ready(function(){ 
    $(this).scrollTop(0); 
});
});

document.querySelector('.btn-prev').addEventListener('click',()=>{
    idPage--;
    if (idPage <= 0) {
        idPage = 1;
    }
    if (idPage == 1) {
        $('.btn-prev').addClass('btn-active');
        
       
    } else {
         $('.btn-prev').removeClass('btn-active');
         
       
    }
    {{!-- const btnNext = document.querySelector('.btn-next');
    btnNext.classList.remove('btn-active');
    $('.number-page').removeClass('active');
    $('.number-page(${idPage - 1})').addClass('active'); --}}
    getCurrentPage(idPage);
    renderProduct();
    $(document).ready(function(){ 
    $(this).scrollTop(0); 
});
});
   


    
</script>


    <!--End #News-->
</main>
<!-- End #main -->