
<div class="container" style="margin-top: 100px;">
    <h3 class=" mt-3 text-center">Danh sách số các bệnh viện</h3>
    <table class="mt-1 table" id="bv_table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">TTYT quận,huyện </th>
                <th scope="col">Họ và tên</th>
                <th scope="col">Chức vụ</th>
                <th scope="col">Số điện thoại</th>
            </tr>
        </thead>
    </table>
</div>