
<div class="container" style="margin-top: 100px;">
    <h3 class=" mt-3 text-center">Danh sách số các bệnh viện</h3>
     <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." aria-label="Search" style="width: 50%; display: inline-block; border-radius: 5px;">
  <br> <br>
    <table class="table table-hover" id="myTable" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">TTYT quận Huyện</th>
      <th scope="col">Số điện thoại</th>
      </tr>
  </thead>
  <tbody>
      {{#each supportcitizen}}
    <tr id="name">
      <th scope="row">{{sum @index 0}}</th>
      <td class="item" >{{TTYT}}</td>
      <td >{{phone}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>
</div>
<script>
   function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
  </script>